/* style to my new-page website*/

* {
  padding: 0;
  margin: 0;
}

body {
font-family: Arial, Helvetica, sans-serif;
background: tan;
background-image: url(../images/new-notes.png);
background-attachment: fixed;
}
header{
    margin-bottom: 20px;
}

#wrapper{
    width: 940px;
    margin: 20px auto;/* 20px from the top and the bottom and auto form the right and the left*/
    /*border: 1px solid red;*/
    background: beige;
    overflow: hidden;
    padding: 20px;
}
img.right{
    float: right;
    /* when floating to the right, add marging to the left*/
    margin: 0 10px 0 30px;
}
img.left{
    float: left;
    /* when floating to the left, add marging to the right*/
    margin: 0 30px 20px 0;

}
.center{
    display: block;
    margin: 20px auto;
    text-align: center;
}


footer{
    height: 50px;
    line-height: 50px;
    background: tan;
    clear: both;
}
footer ul{
    list-style-type: none;
    margin-left: 20px;
}
footer li{
    /*display: inline;*/
    float: left;
    margin-right: 30px;
}
 a{
    color: brown;
}
h1, h2{
    margin-bottom: 8px;
}

p{
    margin-bottom: 20px;
    line-height: 1.5;
}