/*style for my form*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/*I WILL BE ADDING PADDING TO THE BODY FOR DEMOSTRATION PURPOSE ONLY!!!! REMOVE THIS WHEN YOU START WORKING ON YOUR HOMEWORK ASSIGNMENT!!!!*/

body {
  background: beige;
}
/* Website styles */

#wrapper{
  width: 940px;
  margin: 0 auto;


}
header{
  height: 100px;
  background: pink;


}

nav{
  height: 50px;
  background: yellow;


}

main{
  width: 580px;
  float: left;



}

aside{
  width: 340px;
  float: right;
  height: 300px;
  background: #ddd;


}

footer{
  height: 50px;
  background: lightblue;
  clear: both;


}











/* Form styeles */
form {
  max-width: 580px;
  background-color: darkgray;
}
fieldset {
  padding: 10px;
  /* border: 2px dashed red; */
}

legend {
  font-size: 1.5em;
  font-style: italic;
  padding: 0 4px;
  color: green;
}

label {
  display: block;
  margin-bottom: 5px;
}


input {
  width: 100%;
  height: 25px;
  margin-bottom: 10px;
}

input[type="radio"],
input[type="checkbox"] {
  width: auto;
  height: auto;
  margin-right: 5px;
}

input[type="submit"] {
  width: auto;
}

textarea {
  width: 100%;
  height: 60px;
  margin-bottom: 10px;
}

select {
  margin-bottom: 10px;
}

form li {
  list-style-type: none;
}

form ul {
  margin-left: 10px;
  margin-bottom: 10px;
}
